body{
    background-color: #E7E7E7;
    font-family: sans-serif;
    padding :30px;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, li{
    margin:0;
    padding:0;
    list-style: none;
}

nav ul{
    display: flex;
}
nav ul li{
    display: inline-flex;
    background-color: #e0e0e0;
    margin: 1em 1.5em;
}

#logged{
    display: none;
}

#logged.active{
    display: none;
}

